<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="renameFiles" value="true"/>
    <add key="resizingValue" value="20"/>
    <add key="allowedSizeInKb" value="7"/>
    <add key="backupContent" value="true"/>
    <add key="annotationLocation" value="D:\Sanjay\Deep Blue 2018\sample_data\sample_data\foods\train\Annotations"/>
    <add key="imageLocation" value="D:\Sanjay\Deep Blue 2018\sample_data\sample_data\foods\train\Images"/>
    <add key="annotationsBackup" value="D:\Sanjay\Deep Blue 2018\sample_data\sample_data\foods\train\AnnotationsBackup"/>
    <add key="useImageDimension" value="false"/>
    <add key="useFileSize" value="true"/>
    <add key="widthThreshold" value=""/>
    <add key="heightThreshold" value=""/>
  </appSettings>
</configuration>